  .cartb-inactive {
    padding: 1rem;
    cursor: pointer;
    border: 0.5px solid black;
    margin-left: 0.2vw;
  }  
  
  .cartb-active {
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 100;
  }
  
  .menuNav {
    list-style: none;
    position: fixed;
    top: 0;
    background: rgb(127, 188, 212);
    right: -100%;
    bottom: 0;
    height: 85vh;
    width: 500px;
    max-width: 40%;
    z-index: 9;
    overflow: scroll;
  }
  
  .menuNav.showMenu {
    padding: 2rem;
    right: 0;
    width: 500px;
  }
  
  .menuNav li:first-child {
    margin-top: 0.1rem;
  }

  .updt {
    margin: 0.5rem;
    padding: 0.2em;
    background-color: white;
    border: 1px solid black;
  }

  .checkout {
    margin-top: 3vh;
  }

    @media screen and (max-width: 900px) { 
    .cartb-inactive {
      font-size: 2vw;
    }

    }

  @media screen and (max-width: 550px) {
    .cartb-active {
      font-size: 2.5vw;
    }
    
    .menuNav.showMenu {
      padding: 1rem;
      right: 0;
      width: 500px;
      font-size: 3vw;
    }
    
    .menuNav li:first-child {
      margin-top: 0.05rem;
    }
  
    .updt {
      margin: 0.1rem;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
      padding: 0;
      background-color: white;
      border: 1px solid black;
      font-size: 2vw;
    }
  
    .checkout {
      margin-top: 3vh;
      font-size: 1.75vw;
    }

  }