.cart {
    position: relative;
  }

  .cartb {
    right: 30px;
    cursor: pointer;
  }

  .cartb-active {
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 100;
  }
  
  .menuNav {
    list-style: none;
    position: fixed;
    top: 0;
    background: darkcyan;
    right: -100%;
    bottom: 0;
    height: 85vh;
    width: 500px;
    overflow: hidden;
    max-width: 40%;
    z-index: 9;
  }
  
  .menuNav.showMenu {
    padding: 2rem;
    right: 0;
    width: 500px;

  }
  
  .menuNav li:first-child {
    margin-top: 1rem;
  }

  .updt {
    margin: 0.1rem;
    padding: 0.2em;
  }