body {
    background-color: rgb(223, 217, 217);
}

.logo {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-bottom: 4vh=w;
}

.sign {
    background-image: linear-gradient(to right, #83d5e7, #4dc0da, #439cb9);
    padding: 0.5vw;
    width: 9vw;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.6vw;
}

.forms {
    border:none;
}

input {
    outline: none;
    border-bottom: grey;
    height: auto;
    margin-left:3px;
    padding: 0.25vw;
    box-shadow: -7px 10px 0px -7px #ddd9d9;
  }

  @media screen and (max-width: 1200px) {
    article {
        width: 9rem;
    }

    .logo {
        width: 7vw;
        padding-bottom: 2vh;
    }

    .sign {
        padding: 0.9vw;
        width: 15vw;
        border-radius: 50px;
        border: none;
        text-transform: uppercase;
        font-weight: bold;
        color: snow;
        font-size: 1.2vw;
    }

    input {
        outline: none;
        border-bottom: grey;
        height: auto;
        width: 100%;
        padding: 0.25vw;
        box-shadow: -7px 10px 0px -7px #ddd9d9;
        font-size: 1vw;
      }
      
  }